@font-face {
    font-family: "Norse Bold";
    src: url(./Norse-Bold.otf);
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    display: flex;
}

.margin-left-5 {
    margin-left: 5%;
}

/* Aside */
aside {
    background-image: url("./leaves.avif");
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    width: 40rem;
    height: 100vh;
    position: relative;
}

aside .logo-container {
    width: 100%;
    height: 10rem;
    background-color: rgba(0, 0, 0, 0.5);
    margin-top: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

aside .logo {
    width: 7rem;
}

aside .logo-text {
    font-family: "Norse Bold";
    font-size: 7rem;
}

aside .credits {
    /* position: absolute; */
    bottom: 1rem;
    /* left: 50%; */
    text-align: center;
}

aside .credits a {
    color: #fff;
}



/* main */
main {
    display: flex;
    flex-direction: column;
}

main .heading-container {
    background-color: aliceblue;
    height: 35vh;
}

main .heading-container h3 {
    max-width: 80%;
    font-size: 1.5rem;
}

main .heading-container h3:first-child {
    margin-top: 10%;
}

main .heading-container h3:last-child {
    margin-top: 1rem;
}

main .form-container {
    height: 30vh;
    background-color: antiquewhite;
}

main .form-container form {
    display: flex;
    flex-wrap: wrap;
    gap: 30%;
}
