/* Global */
@font-face {
  font-family: "Norse Bold";
  src: url(./Norse-Bold.otf);
}

* {
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  margin: 0;
  display: flex;
}

.margin-left-5 {
  margin-left: 5%;
}

.mb-1 {
    margin-bottom: 1rem;
}


/* Aside */
aside {
  background-image: url("./leaves.avif");
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  width: 30rem;
  height: 100vh;
  position: relative;
  flex-shrink: 0;
}

aside .logo-container {
  width: 100%;
  height: 10rem;
  background-color: rgba(0, 0, 0, 0.5);
  margin-top: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

aside .logo {
  width: 7rem;
}

aside .logo-text {
  font-family: "Norse Bold";
  font-size: 7rem;
}

aside .credits {
  position: absolute;
  bottom: 1rem;
  left: 25%;
}

aside .credits a {
  color: #fff;
}

/* main */
main {
  display: flex;
  flex-direction: column;
}

main .heading-container {
  background-color: rgb(248, 247, 246);
  height: 35vh;
}

main .heading-container h3 {
  max-width: 80%;
  font-size: 1.5rem;
}

main .heading-container h3:first-child {
  margin-top: 10%;
}

main .heading-container h3:last-child {
  margin-top: 1rem;
}

main .form-container {
  height: 30vh;
  box-shadow: 0 4px 2px -2px grey;
}

main .form-container form {
  display: flex;
  flex-wrap: wrap;
  gap: 30%;
}

main .form-container input {
    width: 17rem;
    border: 1px solid #E5E7EB;
    border-radius: 5px;
}

.account-container {
    background-color: rgb(248, 247, 246);
    height: 35vh;
}

.account-container button {
    background-color: #596D48;
    border: 1px solid #596D48;
    color: #fff;
    border-radius: 5px;
    font-size: 1.3rem;
    padding: 10px 30px;
    margin-top: 30px;
    cursor: pointer;
}

.signup-container {
    margin-top: 25px;
}

.signup-container a {
    text-decoration: none;
    color: #596D48;
    font-weight: 700;
}
